<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.measure.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.jk.measure.model.Area" >
    <id column="mid" property="mid" />
    <result column="city" property="city" />
    <result column="cnty" property="cnty" />
    <result column="id" property="id" />
    <result column="lat" property="lat" />
    <result column="lon" property="lon" />
    <result column="prov" property="prov" />
  </resultMap>
  <sql id="Base_Column_List" >
    mid, city, cnty, id, lat, lon, prov
  </sql>
  <select id="getAreaByChina" resultMap="BaseResultMap" parameterType="String">
    SELECT prov FROM `area` WHERE cnty = #{name} GROUP BY prov
  </select>
  <select id="getAreaByOther" resultMap="BaseResultMap" parameterType="String">
    SELECT
    <include refid="Base_Column_List" />
    FROM `area` WHERE cnty = #{name}
  </select>
  <select id="getAreaCity" resultMap="BaseResultMap" parameterType="String">
    SELECT
    <include refid="Base_Column_List" />
    FROM `area` WHERE prov = #{name}
  </select>
  <select id="getAreaByCountry" resultMap="BaseResultMap">
    SELECT
    cnty
    FROM `area` GROUP BY cnty ORDER BY cnty DESC
  </select>
</mapper>